---
 const personalImageAlt = "Gerardo Fernandez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-600 dark:[&>p>strong]:text-red-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"

  >
    <p>
    I specialize in building robust automation and test systems that seamlessly integrate embedded <strong>hardware, robotics,</strong> and <strong>software</strong> to optimize <strong>manufacturing processes</strong>. 
    My work includes developing <strong>multi-threaded VB.NET</strong>  applications for parallel <strong>BLE testing</strong>, designing <strong>Angular dashboards</strong> that visualize real-time production data through <strong>.NET APIs </strong> 
    and complex <strong>SQL Server queries</strong>, and crafting <strong>C#</strong> based tools for <strong>serial</strong> and <strong>TCP/IP</strong>  communication with embedded devices. 

    </p>

    <p>
        I’ve implemented secure, scalable workflows using AWS CLI and custom scripts to manage cloud environment synchronization, and I maintain a strong focus on software-hardware interaction stability. 
    Additionally, I develop cross-platform mobile applications that communicate with embedded hardware over BLE, TCP, and USB, ensuring consistent performance and backend integration. 
    </p>

    <p>
       My skill set combines device interfacing, full-stack development, and deep database expertise to deliver efficient, reliable, and scalable solutions tailored to high-demand production environments.
    </p>
  </div>

  <img width="200" height="200"   src="/my-portfolio/gerardo.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
