---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "July 2024 - Present",
    title: "MFG Systems Engineer",
    company: "BI Incorporated, Boulder, CO",
    description:
      "Lead developer for internal manufacturing test software used across production lines. Integrated robotic arms and automation systems to streamline product testing and reduce manual errors. Designed and maintained critical communication layers between robotic systems and proprietary software tools. Collaborated with cross-functional teams to troubleshoot firmware and hardware integration issues.",
  },
  {
    date: "November 2023 - July 2024",
    title: "Methods and Procedures Support",
    company: "BI Incorporated, Boulder, CO",
    description:
      "Supported developing and maintaining internal manufacturing software tools used for product validation. Assisted in the documentation and implementation of testing procedures for new and existing hardware systems. Collaborated with engineers to troubleshoot issues on the manufacturing floor, gather feedback from operators, and improve the reliability of production workflows. Contributed to scripting tasks using VB.NET and SQL to streamline reporting and data analysis.",
  },
  {
    date: "June 2021 - November 2023",
    title: "Technical Support Specialist I",
    company: "Intrado, Longmont, CO",
    description:
      "Provided Tier I support for enterprise appointment reminder platforms. Created customized logic to automate reminder systems based on client data from Excel and Word documents. Assisted with onboarding and support for high-profile clients, ensuring 99%+ system uptime.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
