---
const personalImageAlt = "Gerardo Fernandez"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/gerardo.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/gerardo-fernandez-diaz-85aa49242/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available For Work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Gerardo Fernandez
  </h1>
  <p
  class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-red-400 [&>strong]:text-red-600 [&>strong]:font-semibold dark:text-gray-300"

  >
  I’m a <strong>Systems Engineer</strong> with strong experience in software development, automation, and embedded systems. 
  I build tools and applications using VB.NET, C#, Python, and JavaScript, with expertise in BLE communication (ESP32, nRF52), 
  manufacturing test automation, and full-stack solutions using .NET, Angular, SQL Server, and AWS. 
  I integrate hardware and software seamlessly to deliver efficient, real-world solutions
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:fernandezg749@gmail,.com">
      <MailIcon class="size-4" />
      Contact Me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/gerardo-fernandez-diaz-85aa49242/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
